*/Release_Win32/*
*/Release_x64/**
*.local
**/.vs/**
**/__history/**
**/BCCFiles/**
**/.vs/**
**/ObjectFiles/**

**/Win32/Debug/**
**/Win32/Release/**
**/Win64/Debug/**
**/Win64/Release/**
x_Tangaria_build/PWMAngband/**
*.user
*.res



**.TaskCanvasSL
**/PWMAngband/**

Tangeria_CoOp/TangariaSDLClient.vcxproj.old

x_Tangaria_build/mangband.cbproj.old

Tangeria_CoOp/Tangaria_release

x_Tangaria_build/mangclient_sdl.cbproj.old

Tangaria_CoOp/Tangaria_release

*.old
